<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="x" value="welcome"></parameter>
  <parameter name="y" value=" to TestNG Parameterization"></parameter>
  <parameter name="z" value="Boooom"></parameter>
    <classes>
      <class name="parameterization.passingParamUsingXML"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
